{% extends 'base.html' %}

{% block title %}Sign up -{% endblock %}
{% block content %}
  <h1>Sign up</h1>

  <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" class="form-control" name="username" required placeholder="Enter username" value="">
        {{ form.username.errors }}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" name="password1" required placeholder="Enter password" value="" type="password">
        <input class="form-control" name="password2" required placeholder="Confirm password" value="" type="password">
        <small id="passwordHelp" class="form-text text-muted">Your password must contain at least 8 characters and can't be entirely numeric.</small>
        {{ form.password1.errors }}
        {{ form.password2.errors }}
      </div>

      <div class="form-group">
        <label for="id_captcha_1">Captcha</label><br />
        {{ form.captcha }}
        {{ form.captcha.errors }}
      </div>

      <input type="submit" class="btn btn-primary" value="Sign up" />
    </div>
  </form>
{% endblock %}
