{% extends 'base.html' %}

{% block title %}About -{% endblock %}
{% block content %}
  <h1>About</h1>
  <p>This is a project that tries to collect WiFi Signatures.<br>
  It is based on the paper <a href="https://ai.google/research/pubs/pub45429">Passive Taxonomy of Wifi Clients using MLME Frame Contents</a><br>
  There is already a WiFi Signature <a href="https://github.com/NetworkDeviceTaxonomy/wifi_taxonomy">GitHub-Repositry.</a><br>
  We try to find a way to offer the information in a more user friendly way. You can just query our <a href="/api">API</a>.<br>
  You can easily add devices through the Django web interface.<br>
  You can easily export those devices to a json format.</p>
{% endblock %}
